* text=auto eol=lf

node_modules/** linguist-vendored=true
.next/** linguist-vendored=true
*.lock linguist-generated=true
tsconfig.tsbuildinfo linguist-generated=true
next-env.d.ts linguist-generated=true
